body,html{
  height: 100%;
  width: 100%;
  margin:0%;
  background-color: #e0e0e0;
  font-family: 'Ubuntu',sans-serif;
}

body.modal-open div.modal-backdrop { 
  z-index: -1; 
}

header{
    display: flex;
    background-color:rosybrown;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 1;
    
}  

footer{
    display: flex;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    align-items: center;
    z-index: 1;
    
}

.imgstyle{
    margin-left: 1%;
    height: 60px;
    width: 60px;
   
}

.loginStyle{
  margin-right: 2%;
  right: 0%;
  margin-top: 10px;
  text-decoration: none;
  position: absolute;
  color: black;

}

.footerimg{
    
    height: 20px;
    width: 22px;
    text-decoration: none;
  }

.contactStyle{
  bottom:32%;
  margin-left: 4%;
  text-decoration: none;
  position: absolute; 
  color: black;
    
  
}

.iconSty{
   position: absolute; 
   right:1%;
   bottom:32%;
   margin-right: 2%;
   
}


 
.copyrightSty{
  margin-left: 45%;
  font-size: 10px;
   
}  