body,html{
    height: 100%;
    width: 100%;
    margin:0%;
    background-color: #e0e0e0;
  }

header{
    background-color:rosybrown;
}  

footer{
    background-color:rosybrown;
}

.imgstyle{
    height: 60px;
    width: 60px;
  }

.footerimg{
    height: 20px;
    width: 22px;
  }