.placeimg{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
  }

  .placeimg:hover{
    filter: brightness(50%); 
    
  }

  .placeimg:hover + .text1Sty {
    visibility: visible;
   }

  .placeimg:hover + .text2Sty {
    visibility: visible;
   }

   .placeimg:hover + .text3Sty {
    visibility: visible;
   }

   .placeimg:hover + .text4Sty {
    visibility: visible;
   }

  
  .text1Sty{
    position: fixed;
    bottom: 150px;
    left:180px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text2Sty{
    position: absolute;
    bottom: 100px;
    left:460px;
    color: #f1f1f1; 
    visibility: hidden;
  }

  .text3Sty{
    position: absolute;
    bottom: 100px;
    left:710px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text4Sty{
    position: absolute;
    bottom: 100px;
    left:1000px;
    color: #f1f1f1;
    visibility: hidden;
  }

    
  #backgroundCity{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }


  #searchBar{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    border: 1px solid transparent;
    background-color: #f1f1f1; 
    outline: none;
    padding : 10px; 
    font-size: 16px; 
    border-radius: 12px; 
    text-align: start 
  }

  
.listSty{
  display: flex; 
  padding: 0em;
  justify-content: center;
}

.labelSty{
 flex:0.7;
}

.inputSty{
 width:60%;
}

.main-container{
  
  height: 750px;
}