.placeimg{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
    
  }


  .placeimg:hover{
    filter: brightness(50%); 
    
  }

  .placeimg:hover + .text1Sty {
    visibility: visible;
   }

  .placeimg:hover + .text2Sty {
    visibility: visible;
   }

   .placeimg:hover + .text3Sty {
    visibility: visible;
   }

   .placeimg:hover + .text4Sty {
    visibility: visible;
   }

   .placeimg:hover + .text5Sty {
    visibility: visible;
   }

  .placeimg:hover + .text6Sty {
    visibility: visible;
   }

   .placeimg:hover + .text7Sty {
    visibility: visible;
   }

   .placeimg:hover + .text8Sty {
    visibility: visible;
   }


  .aStyle{
    text-decoration: none; 
    position: relative;
  }
 
  
  .text1Sty{
    position: absolute;
    bottom: 40%;
    left:60px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text2Sty{
    position: absolute;
    bottom: 40%;
    left:60px;
    color: #f1f1f1; 
    visibility: hidden;
  }

  .text3Sty{
    position: absolute;
    bottom: 40%;
    left:35px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text4Sty{
    position: absolute;
    bottom: 40%;
    left:45px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text5Sty{
    position: absolute;
    bottom: 40%;
    left:50px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text6Sty{
    position: absolute;
    bottom: 40%;
    left:60px;
    color: #f1f1f1; 
    visibility: hidden;
  }

  .text7Sty{
    position: absolute;
    bottom: 40%;
    left:55px;
    color: #f1f1f1;
    visibility: hidden;
  }

  .text8Sty{
    position: absolute;
    bottom: 40%;
    left:40px;
    color: #f1f1f1;
    visibility: hidden;
  }




  
  #backgroundCity{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }


  #searchBar{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    border: 1px solid transparent;
    background-color: #f1f1f1; 
    outline: none;
    padding : 10px; 
    font-size: 16px; 
    border-radius: 12px; 
    text-align: start 
  }

  
.listSty{
  display: flex; 
  padding: 0em;
  justify-content: center;
}

.labelSty{
 flex:0.7;
}

.inputSty{
 width:60%;
}

.main-container{
  
  height: 1000px;
}

