.hotelimg{
    height: 200px;
    width: 250px;

  } 

#list-view{
    scroll-behavior: smooth;

  }

.map-view{
   scroll-behavior: smooth;
   display: none;
  } 

.imagesView{
   margin: 2%;
   width: 40%;
   float: left;
   display: flex;
   background-color: lightgray;
}  

.viewSty{
  font-weight: bold;
  text-decoration: none; 
  color:black
}