.hotelimg{
    height: 200px;
    width: 250px;

  } 

#list-view{
    scroll-behavior: smooth;

  }



.imagesView{
   margin: 2%;
   width: 40%;
   float: left;
   display: flex;
   background-color: lightgray;
}  


.imagesView:hover{
    background-color: rosybrown;
}


.viewSty{
  font-weight: bold;
  text-decoration: none; 
  color:black
}